In [304]:
import pandas as pd
import numpy as np

In [305]:
file1 = "schools_complete.csv"
file2 = "students_complete.csv"

In [306]:
schools = pd.read_csv(file1)
students = pd.read_csv(file2)
students.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [307]:
# total schools
len(schools)
schools.iloc[0]

School ID                    0
name         Huang High School
type                  District
size                      2917
budget                 1910635
Name: 0, dtype: object

In [308]:
# total students
len(students)

39170

In [309]:
# average math score
students["math_score"].mean()

78.98537145774827

In [310]:
# average reading score
students["reading_score"].mean()

81.87784018381414

In [311]:
# percentage of students passing math (>70)
m_pass = len(students.loc[students["math_score"]>70])/len(students)*100
m_pass

72.39213683941792

In [312]:
# percentage of students passing reading (>70)
r_pass = len(students.loc[students["reading_score"]>70])/len(students)*100
r_pass

82.97166198621395

In [313]:
# percentage of students of overall avg > 70
#len(students.loc[((students["math_score"]+students["reading_score"])/2)>70])/len(students)*100
t_pass = (m_pass + r_pass)/2
t_pass

77.68189941281594

In [327]:
school_summary = schools
#del school_summary["School ID"]
school_summary = school_summary.assign(Per_Student = school_summary["budget"]/school_summary["size"])
school_summary["Per_Student"]
school_summary = school_summary.assign(Per_Student = school_summary["budget"]/school_summary["size"])
school_summary["Per_Student"]
mean_math = [students.loc[students["school"] == each]["math_score"].mean() for each in schools["name"]]
mean_reading = [students.loc[students["school"] == each]["reading_score"].mean() for each in schools["name"]]
pass_math = [len(students.loc[students["school"]==each].loc[students.loc[students["school"]==each]["math_score"]>=70])/len(students.loc[students["school"]==each])*100 for each in schools["name"]]
pass_reading = [len(students.loc[students["school"]==each].loc[students.loc[students["school"]==each]["reading_score"]>=70])/len(students.loc[students["school"]==each])*100 for each in schools["name"]]
school_summary = school_summary.assign(Avg_Math_Score = mean_math)
school_summary = school_summary.assign(Avg_Reading_Score = mean_reading)
school_summary = school_summary.assign(Per_Pass_Math = pass_math)
school_summary = school_summary.assign(Per_Pass_Reading = pass_reading)
pass_total = (school_summary["Per_Pass_Reading"]+school_summary["Per_Pass_Math"])/2
school_summary = school_summary.assign(Per_Pass_Overall = pass_total)
school_summary.style.format({"Avg_Math_Score": "{:.2f}","Avg_Reading_Score": "{:.2f}","Per_Pass_Math": "{:.2f}%", "Per_Pass_Reading": "{:.2f}%","Per_Pass_Overall": "{:.2f}%", "budget":"${:,}"})#, "other":"{:<2.2f}"})

In [330]:
school_summary.sort_values("Per_Pass_Overall", ascending=False).head()
school_summary.style.format({"Avg_Math_Score": "{:.2f}","Avg_Reading_Score": "{:.2f}","Per_Pass_Math": "{:.2f}%", "Per_Pass_Reading": "{:.2f}%","Per_Pass_Overall": "{:.2f}%", "budget":"${:,}"})#, "other":"{:<2.2f}"})

In [331]:
school_summary.sort_values("Per_Pass_Overall").head()
school_summary.style.format({"Avg_Math_Score": "{:.2f}","Avg_Reading_Score": "{:.2f}","Per_Pass_Math": "{:.2f}%", "Per_Pass_Reading": "{:.2f}%","Per_Pass_Overall": "{:.2f}%", "budget":"${:,}"})#, "other":"{:<2.2f}"})

In [ ]:
#mean_math = [students.loc[students["school"] == each]["math_score"].mean() for each in schools["name"]]
#grade9 = students.loc[students["grade"]=="9th"].groupby(["school"]).mean()
#grade10 = students.loc[students["grade"]=="10th"].groupby(["school"]).mean()
#grade11 = students.loc[students["grade"]=="11th"].groupby(["school"]).mean()
#grade12 = students.loc[students["grade"]=="12th"].groupby(["school"]).mean()
#school_by_grade = grade.mean({"reading_score"})
#del school_by_grade["Student ID"]
#school_by_grade
grade = students.groupby(["school","grade"])
grade.mean()[["reading_score"]]

In [375]:
grade = students.groupby(["school","grade"])
grade.mean()[["math_score"]]

                             math_score
school                grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [332]:
interval = school_summary["budget"].max()/4
least = school_summary["budget"].min()
bin1 = school_summary.loc[school_summary["budget"]<=least+interval]
bin2 = school_summary.loc[(school_summary["budget"]>(least+interval)) & (school_summary["budget"]<=least+2*interval)]
bin3 = school_summary.loc[(school_summary["budget"]>(least+2* interval)) & (school_summary["budget"]<=least+3*interval)]
bin4 = school_summary.loc[(school_summary["budget"]>(least+3* interval))]
new = pd.DataFrame({"Avg_Math_Score": [bin1["Avg_Math_Score"].mean(),
bin2["Avg_Math_Score"].mean(),
bin3["Avg_Math_Score"].mean(),
bin4["Avg_Math_Score"].mean()],
"Avg_Reading_Score":
[bin1["Avg_Reading_Score"].mean(),
bin2["Avg_Reading_Score"].mean(),
bin3["Avg_Reading_Score"].mean(),
bin4["Avg_Reading_Score"].mean()],
"Per_Pass_Math":[
bin1["Per_Pass_Math"].mean(),
bin2["Per_Pass_Math"].mean(),
bin3["Per_Pass_Math"].mean(),
bin4["Per_Pass_Math"].mean()],
"Per_Pass_Reading":[
bin1["Per_Pass_Reading"].mean(),
bin2["Per_Pass_Reading"].mean(),
bin3["Per_Pass_Reading"].mean(),
bin4["Per_Pass_Reading"].mean()],
"Per_Pass_Overall":[
bin1["Per_Pass_Overall"].mean(),
bin2["Per_Pass_Overall"].mean(),
bin3["Per_Pass_Overall"].mean(),
bin4["Per_Pass_Overall"].mean()]})
new.index = ["Small Budget", "Medium Budget", "Large Budget", "Largest Budget"]
new.style.format({"Avg_Math_Score": "{:.2f}","Avg_Reading_Score": "{:.2f}","Per_Pass_Math": "{:.2f}%", "Per_Pass_Reading": "{:.2f}%","Per_Pass_Overall": "{:.2f}%"})#, "other":"{:<2.2f}"})

In [333]:
small = school_summary.loc[school_summary["size"]<=1000]
medium = school_summary.loc[(school_summary["size"]>1000) & (school_summary["size"]<=3000)]
large = school_summary.loc[(school_summary["size"]>3000)]

size = pd.DataFrame({"Avg_Math_Score": [small["Avg_Math_Score"].mean(),
medium["Avg_Math_Score"].mean(),
large["Avg_Math_Score"].mean()],

"Avg_Reading_Score":
[small["Avg_Reading_Score"].mean(),
medium["Avg_Reading_Score"].mean(),
large["Avg_Reading_Score"].mean()],

"Per_Pass_Math":[
small["Per_Pass_Math"].mean(),
medium["Per_Pass_Math"].mean(),
large["Per_Pass_Math"].mean()],

"Per_Pass_Reading":[
small["Per_Pass_Reading"].mean(),
medium["Per_Pass_Reading"].mean(),
large["Per_Pass_Reading"].mean()],

"Per_Pass_Overall":[
small["Per_Pass_Overall"].mean(),
medium["Per_Pass_Overall"].mean(),
large["Per_Pass_Overall"].mean()],
})
size.index = ["Small School", "Medium School", "Large School"]
size.style.format({"Avg_Math_Score": "{:.2f}","Avg_Reading_Score": "{:.2f}","Per_Pass_Math": "{:.2f}%", "Per_Pass_Reading": "{:.2f}%","Per_Pass_Overall": "{:.2f}%"})#, "other":"{:<2.2f}"})

In [334]:
typ = school_summary.groupby("type")
fin = typ.mean()[["Avg_Math_Score","Avg_Reading_Score","Per_Pass_Math","Per_Pass_Reading","Per_Pass_Overall"]]
fin.style.format({"Avg_Math_Score": "{:.2f}","Avg_Reading_Score": "{:.2f}","Per_Pass_Math": "{:.2f}%", "Per_Pass_Reading": "{:.2f}%","Per_Pass_Overall": "{:.2f}%"})#, "other":"{:<2.2f}"})